.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin: 0 10px;
}

nav {
    position: relative;
    padding: 10px;
    width: 100%;
    height: 15vh;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

nav .logo {
    width: 25%;
    text-align: center;
}

nav .menu {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

nav .menu a {
    width: 25%;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    display: block;
}


@media (max-width: 870px) {
    .burger {
        display: flex;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        margin-top: 20px;
    }

    .menu.open {
        display: flex;
        max-height: 200px; /* Adjust based on the number of menu items */
        font-size: large;
    }

    .menu.closed {
        display: flex;
        max-height: 0;
        transition: max-height 0.3s ease-in;
    }
}