* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
}


header {
    width: 100%;
    height: 100vh;
    background-image: url('./Images/L.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

section h3 {
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    /* text-shadow: 100px 100px black; */
    text-shadow: 1px 1px 2px #000000;
}

section h1 {
    /* margin: 30px 0 20px 0; */
    text-align: center;
    font-size: 55px;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
}

#gallery h1 {
    font-size: 5vmin;
}

section p {
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;
}

section a {
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.5s ease;
}

section .btn_one {
    background: #fff;
    color: #000;

}

.btn_one:hover {
    background: #00b894;
    color: #fff;
}

section .btn_two {
    background: #333;
    color: #fff;
}

.btn_two:hover {
    background: #333;
    color: #00b894;
}

.changeContent:after {
    content: '';
    animation: changeText 10s infinite linear;
}

@keyframes changeText {
    0% {content: "Tamil Nadu";}
    20% {content: "Gujarat";}
    35% {content: "Karnataka";}
    60% {content: "Jammu Kashmir";}
    80% {content: "Punjab";}
    100% {content: "Assam";}
}

.ad {
    display: flex;
    align-content: center;
    justify-content: space-around;
    text-align: center;
    margin: 30px 10px;
}

.adCard {
    border: 1px solid lightgray;
    border-radius: 10%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    height: 330px;
}

.adCard h3 {
    margin-top: 5px;
}

i {
    margin-top: 10px;
    /* color: orangered; */
}

hr {
    background-color: white;  
    border-style: none; 
    height: 0px;
    width: 5%;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    margin: 50px auto 50px auto;
}

.about {
    text-align: center;
}

.about h3 {
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px #000000;
}

.about p {
    font-size: 25px;
    word-spacing: 2px;
    margin: 25px auto;
    text-shadow: 1px 1px 1px black;
}

#taj {
    float: right;
}



#footer {
    padding: 2% 4%;
    margin-top: 30px;
    text-align: center;
}

.social-icon {
    margin: 20px 10px;
}

#brand_image {
    height: 20vh;
}

.events .row {
    margin-top: 50px;
}

.events .btn {
    margin-top: 30px;
}

.title {
    text-align: center;
    font-size: 4vmin;
    color: #49497e;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row .col img {
    width: 80%;
    height: 100%;
}

#gallery {
    width: 80%;
    margin: 80px auto;
}


.row .col h4 {
    font-size: 4vmin;
    color: #484872;
    margin: 20px auto;
}

@media (max-width: 1000px) {
    .ad {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .adCard {
        padding: 10px; /* Optional: Add padding to prevent content from touching the edges */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
        overflow: hidden; /* Prevent content from overflowing */
        /* height: 300px; */
    }   
    
    section h1 {
        font-size: 30px;
    }

    #brand_image {
        height: 25vw;
        width: 30vw;
    }

    .realestate-home {
        margin-bottom: 100px;
    }
    
    section p, .about p {
        font-size: 15px;
    }
    
    section a {
        font-size: 10px;
    }
    
    .animate__heartBeat {
        margin-left: -10px;
    }

    .row {
        flex-direction: column;
    }

    .row .col {
        margin: 20px auto;
    }

    .col img {
        max-width: 90%;
    }
}

.card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-left: 40px;
}

.card-title {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.icon {
    width: 40px;
    height: 40px;
    margin: 10px;
    transition: transform 0.2s;
}

.icon:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}
